<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DishHub"
        tools:targetApi="31">

        <!-- Firebase configuration -->
        <meta-data
            android:name="firebase_app_id"
            android:value="1:531043947887:android:69e2e43f4e8f681c07849a" />

        <meta-data
            android:name="com.google.firebase.api_key"
            android:value="AIzaSyDFCab_gjRahXmVH-KpipR8tNadCzi5ap8" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="1:531043947887:android:69e2e43f4e8f681c07849a" />
        <meta-data
            android:name="com.google.android.gms.appinvite.automatic_install"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.CREDENTIAL_ENABLED"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.clientId"
            android:value="1:531043947887:android:69e2e43f4e8f681c07849a" /> <!-- Using mobileSdk app ID -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_channel_id" />

        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Teaserscreen"
            android:exported="true" />

        <activity
            android:name=".Signup"
            android:exported="true" />

        <activity
            android:name=".Login"
            android:exported="true" />

        <activity
            android:name=".Profile"
            android:exported="false" />

        <activity
            android:name=".Shopping"
            android:exported="false" />

    </application>

</manifest>